<h4>Specifications.</h4>
<hr>

<div>
    <span>Dimensions</span>
    <span>76.8 * 43.8 * 34.7 mm (earbuds and charging case)</span>
</div>
<div>
    <span>USB Standard</span>
    <span>USB-C</span>
</div>
<div>
    <span>Power supply</span>
    <span>Sennheiser 7mm dynamic driver</span>
</div>
<div>
    <span>Frequency response (Microphone)</span>
    <span>100Hz to 10kz</span>
</div>
<div>
    <span>Frequency response</span>
    <span>5 - 21,000 Hz</span>
</div>
<div>
    <span>Noise cancellation</span>
    <span>Single Mic ANC per earbud side</span>
</div>