<div class="flex footer__container">
    <div class="flex">
        <div>
            <label><strong>Free Shipping</strong></label> 
            <p>Get 2-day free shipping anywhere in North America.</p>
        </div>
        <div class="ml">
            <label><strong>2 years warranty</strong></label> 
            <p>If anything goes wrong in the first two years, we'll replace it for free.</p>
        </div>
    </div>
    <div class="flex">
        <div>
            <label><strong>${{ priceItem }}</strong></label> 
            <p>Need financing? Learn more</p>
        </div>
        <button class="hover ml ">Buy now</button>
    </div>
</div>
